*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Bebas Neue', cursive;
}

html, body{
	height: 100%;
	background-color: black;
	color: white;
}

/*Color Pallet*/
:root{
	--color-0: #ff3b3b;
	--color-1: #FF0000;
	--color-2: #BD0000;
	--color-3: #810000;
	--color-4: #5C0000;
	--color-5: #000000;
	--color-6: #ffffff;
}

/*----------Casses Auxiliares----------*/

 .container{
 	max-width: 1280px;
 	margin: 0 auto;
 	padding: 0 2%;
 }

 .clear{
 	clear: both;
 }

 .w100{
 	width: 100%;
 	float: center;
 }

 .w50{
 	width: 50%;
 	float: left;
 }

 .w33{
 	float: left;
 	width: 33.3%;
 }

 .center{
 	text-align: center;
 }

 .left{
 	text-align: left;
 }

 .right{
 	text-align: right;
 }

 .line-text{
	position: relative;
	display: inline-block;
	color: #FF0000;
	text-align: justify;
}

.line-text > h2{
	font-weight: normal;
	font-size: 28px;
	border-top: 3px solid var(--color-2);
}

span.text-span{
	margin-top: 15px;
	display: block;
	width: 100%;
	border-bottom: 3px dotted var(--color-4);
}

.barra{
	background: var(--color-2);
	width: 100%;
	height: 40px;
}

 /*-------Casses Auxiliares Fim--------*/