/*-----------------MAIN BG--------------*/

section.main-bg{
	position: relative;
	width: 100%;
	padding: 140px 0 200px 0;
	background-image: url("../imagens/bg/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

section.main-bg > .container{
	position: relative;
	z-index: 3;
}

.overlay{
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	left: 0;
	top: 0;
}

section.main-bg h2{
	z-index: 1;
	color: var(--color-6);
	text-decoration: underline;
	font-size:60px;
	font-weight: normal;
}

section.main-bg p{
	text-align: justify;
	color: var(--color-6);
	font-size: 25px;
	margin-top: 15px;
}

/*-----------------MAIN BG- THE END-------------*/


/*-----------CONTEUDO------------*/
section.conteudo{
	background: var(--color-5);
	margin: 10px 0;
	border: 2px solid var(--color-2);
	border-radius: 2px;
	padding: 30px 0;
	text-align: center;
}

section.conteudo .icones-conteudo{
	margin-top: 35px; 
}

section.conteudo div.box-icone-single{
	float: left;  
	width: 33.3%;
	margin-bottom: 25px;
	padding: 0 20px;
}

section.conteudo div.box-icone-single h2{
	font-weight: lighter;
	color: var(--color-6);
	font-size: 30px;
	padding-bottom: 5px;
}

section.conteudo div.box-icone-single p{
	color: 646464;
	font-weight: lighter;
	font-size: 16px;
	text-align: justify;
}

/*-----------CONTEUDO - THE END-----------*/

/*---------INSCRIÇÃO----------*/

section.inscricao{
	margin: 0 auto;
	background: #BD0000;
	border-radius: 10px;
	padding: 8px 0;
}

section.inscricao i{
	color: var(--color-6);
	padding: 15px 5px;
}

h2.inscricao-texto{
	font-weight: normal;
	color: var(--color-6);
	padding-top: 4px;
}

section.inscricao a{
	text-decoration: none;
}

/*---------INSCRIÇÃO - THE END-----------*/

/*----------------AVISOS------------------*/

section.avisos{
	margin: 50px 0 750px 0;
	text-align: center;
	width: 100%;
	height: 500px;
}

section.avisos > div > div.line-text{
	position: relative;
	text-align: center;
}

section.avisos div > div.line-text > div{
	width: 115px;
}

section.avisos > div.box-avisos{
	background-image: url(../imagens/bg/bg-avisos.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	left: calc(50% - 542px);
	top: 0;
	width: calc(834px * 1.3);
	height: calc(833px * 1.3);
}

section.avisos > div.box-avisos > div.overlay-avisos{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.9);
	border: 3px solid var(--color-3);
	border-radius: 35px;
	width: 100%;
	height: 100%;
}


/*----------------AVISOS- THE END-------------*/

/* -----Footer--- */

section.footer{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

/* -----FOOTER - THE END-- */

@media screen and (max-width: 768px){

	div.chamada h2{
		font-size: 15px;
	}
	
	.w50, .w33{ 
		 width: 100%; 
		 margin-bottom: 20px;
	}

	section.conteudo div.box-icone-single{
		width: 100%;
	}

	.equipe-container{
		width: 100%;
	}

	.sobre-container{
		width: 100%;
		margin-top: 15px;
	}
}

@media screen and (max-width: 500px){

	section.avisos{
		margin: 50px 0 40px 0;
	}

	section.avisos > div.box-avisos{
		position: relative;
		background-size: 100%;
		left: 0;
		width: 100%;
		height:  427px;
		align-items: center;
		margin-bottom: 50px;
	}

	section.avisos > div.box-avisos > div.overlay-avisos{
		height: 427px;
		width: 100%;
		border-radius: 12px;
	}
	.main-bg h2#chamada{
		font-size: 40px;
	}

	.main-bg p#chamada{
		font-size: 20px;
	}

}


@media screen and (height: 640px){
	section.avisos > div.box-avisos > div.overlay-avisos{
		height: 345px;
	}
}

@media screen and (height: 568px){
	section.avisos > div.box-avisos > div.overlay-avisos{
		height: 308px;
	}
}

@media screen and (height: 667px), (height: 812px){
	section.avisos > div.box-avisos > div.overlay-avisos{
		height: 360px;
	}
}

@media screen and (height: 736px){
	section.avisos > div.box-avisos > div.overlay-avisos{
		height: 397px;
	}
} 


