div.box_login{
    background-color: rgba(225, 225, 225, 0.1);
    box-shadow: 1px 1px 10px rgba(225, 225, 225, 0.1);
    border-radius: 5px;

    margin: 50px auto;
    width: 400px;
    height: 400px;
}

div.itens_login{
    padding-top: 70px;
}

div.itens_login > h2{
    padding-bottom: 30px;
    text-decoration: underline;
}

div.itens_login > input{
    margin-top: 10px;
    background-color: white;
    width: 50px;
    height: 25px;
    outline: 0;
    border: 0;
}

div.user > input, div.key > input{
    width: 80%;
    height: 35px;
    margin: 10px 20px;
}


