

/*---------------------MOBILE REENDINIZATION--------------------*/

@media screen and (max-width: 768px){
	.w50, .w33{ 
		 width: 100%; 
		 margin-bottom: 20px;
	}


}	

@media screen and (max-width: 500px){
	.container{
		max-width: 100%;
	}
}

/*--------------MOBILE REENDINIZATION - THE END-----------------*/