#dvslider{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-1);
    background-color: black;
}

.btSlider{
    background-color: rgba(207, 0, 0, 0.822);
    border: 1px solid rgba(97, 1, 1, 0.651);
    border-radius: 5px;
    height: 30%;
    width: 2%;
    color: black;
    cursor: pointer;
    outline: none;
    margin: 10px;
}

#dvload{
    position: relative;
    bottom: -45%;
    width: 100%;
    height: 5px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

#dvbarra{
    width: 0%;
    height: 100%;
    background-color: rgba(207, 0, 0, 0.822);
}

div.box-slider-show{
    margin: 30px 0;
}

div.exitSlide i{
    cursor: pointer;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-slider-show{
    display: none;
    margin-bottom: 100px;
    width: 100%;
	float: left;
	padding: 0px 2%;
	padding-bottom: 30px;
}

.card-slider-show h3{
	text-decoration: underline;
	text-align: center;
	color: white;
	margin-top: 5px;
	font-weight: normal;
	font-size: 19px; 
}

.card-slider-show p{
	color: gray;
	margin: 6px 0;
	text-align: justify;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 15px;
	border-bottom: 2px solid var(--color-4);
}

.card-slider-show p.slidecenter{
	margin-top: 10px;
	text-align: center;
}











/* @media screen and ( max-width: 500px ){
    .card-slider-show{
        height: 55vh;
        margin-bottom: 10%;
    }

    .btSlider{
        width: 4%;
    }
}

@media screen and ( max-height: 800px ){
    #dvslider{
        height: 100%;
    }
}

@media screen and ( min-height: 823px ){
    .card-slider-show{
        height: 51vh;
    }
} */

/* Moto g4 e  s5*/

/* @media screen and ( height: 640px ), (height: 568px){
    #dvslider{
        height: 220px;
    }
    
}

@media screen and ( height: 731px ) {
    #dvslider{
        height: 280px;
    }
    
}

@media screen and (height: 823px), (height: 736px){
    #dvslider{
        height: 280px;
    }
}

@media screen and (height: 667px){
    #dvslider{
        height: 260px;
    }
}

@media screen and (height: 812px){
    #dvslider{
        height: 260px;
    }
    .card-slider-show{
        height: 51vh;
    }
}

@media screen and (height: 1024px){
    #dvslider{
        height: 530px;
    }
    .card-slider-show{
        height: 61vh;
    }
}

@media screen and (height: 1366px){
    #dvslider{
        height: 710px;
    }
    .card-slider-show{
        height: 71vh;
    }

    .btSlider{
        width: 3%;
    }
} */
