/*------------------VIDEOS & SLIDES-------------------*/

section.slides, section.videos{
	text-align: center;
	padding-top: 30px;
}

.card-slides, .card-videos{
	width: 100%;
	float: left;
	padding: 0px 2%;
	padding-bottom: 30px;
}

.card-slides img, .card-slides img{
	width: 100%;
	border: 2px solid red;
}

.card-slides h3, .card-videos h3{
	text-decoration: underline;
	text-align: center;
	color: white;
	margin-top: 5px;
	font-weight: normal;
	font-size: 19px; 
}

.card-slides p, .card-videos p{
	color: gray;
	margin: 6px 0;
	text-align: justify;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
}

div > p.slidecenter, div > p.videocenter{
	margin-top: 10px;
	text-align: center;
}

div.box-slides, div.box-videos{
	margin: 30px 0;
}

/*----------------VIDEOS & SLIDES - THE END-----------------*/

/*---------------VIDEOS RECENTES--------------*/

section.videos_recentes{
	background-color: black;
	text-align: center;
	padding: 30px 0;
}

section.videos_recentes > div.container > div.box-videos > h2{
	padding: 70px 0;
	background-color: black;
	border-color: #ccc;
	font-weight: lighter;
	color: white;
	text-align: center;
}

.box-videos{
	height: 200px;
}

.card-video{
	width: 100%;
	height: 100%;
	float: left;
	padding: 0 2%;
	padding-top: 20px;
	padding-bottom: 850px;
}

.card-video iframe{
	width: 100%;
	border: 2px solid red;
}

.card-video video{
	width: 100%;
	border: 3px solid var(--color-3);
	border-radius: 5px;
}

.card-video h3{
	text-decoration: underline;
	color: red;
	margin-top: 5px;
	font-weight: normal;
	font-size: 25px; 
}

.card-video p{
	color: white;
	margin: 6px 0;
	text-align: justify;
	font-weight: lighter;
	font-size: 20px;
	padding-bottom: 15px;
	border-bottom: 2px solid red;
}

.card-video p.videocenter{
	margin-top: 10px;
	text-align: center;
}
.card-video h3.videocenter{
	margin-top: 10px;
	text-align: center;
}

/*---------------VIDEOS RECENTES - THE END-------------*/


/*------------------SLIDES RECENTES ----------------*/

section.slides_recentes{
	text-align: center;
	padding: 30px 0;
	background-color: black;
}

section.slides_recentes h2{
	color: red;
}

.card-slides{
	width: 33.3%;
	float: left;
	padding: 0px 2%;
	padding-bottom: 30px;
}

.card-slides img{
	width: 100%;
	height: 220px;
	border: 2px solid var(--color-3);
	border-radius: 5px;
	cursor: pointer;
}

.card-slides h3{
	text-decoration: underline;
	text-align: center;
	color: white;
	margin-top: 5px;
	font-weight: normal;
	font-size: 19px; 
}

.card-slides p{
	color: gray;
	margin: 6px 0;
	text-align: justify;
	font-weight: lighter;
	font-size: 16px;
	padding-bottom: 15px;
	border-bottom: 2px solid var(--color-4);
}

.card-slides p.slidecenter{
	margin-top: 10px;
	text-align: center;
}

div.viewslide{
	margin-top: 15px;
	display: none;
	width: 150px;
	height: 50px;
	background: #BD0000;
	position: relative;
	left: calc(50% - 75px);
	top: 0px;
	cursor: pointer;
}

div.viewslide h4.vermais{
	display: none;
	padding-top: 10px;
	font-size: 25px;
	font-weight: lighter;
}

div.viewslide h4.vermenos{
	display: none;
	padding-top: 10px;
	font-size: 25px;
	font-weight: lighter;
}

/*---------------SLIDES RECENTES - THE END-------------*/

/* ---------FOOTER SLIDES------ */
body#slides section.footer{
	position: relative;
	bottom: -40px;
	left: 0;
	right: 0;
}


@media screen and (max-width: 768px){

	.card-video{
		width: 100%;
	}

	.card-slides{
		width: 100%;
	}

	.w50, .w33{ 
		 width: 100%; 
		 margin-bottom: 20px;
	}

	.blockslid{
		display: none;
	}

	div.viewslide{
		display: block;
	}

	div.viewslide h4.vermais{
		display: block;
	}

	div.viewslide h4.vermenos{
		display: none;
	}
}

@media screen and (max-width: 500px){

	.card-video{
		padding: 10px;
		padding-bottom: 350px;
	}

	div.viewslide{
		display: block;
	}

	div.viewslide h4.vermais{
		display: block;
	}

	div.viewslide h4.vermenos{
		display: none;
	}

	.card-slides{
		padding: 10px;
	}

	.blockslid{
		display: none;
	}

	nav.menu-desktop{
		display: none;
	}

	nav.menu-mobile h2{
		display: block;
	}

}